@model WebApplication2.ViewModel.LoginInput

@{
    ViewData["Title"] = "Đăng nhập";
}


<div class="row">
    <div class="col-md-8 offset-2">
        <h1 class="align-middle text-success">ĐĂNG NHẬP</h1>

        <hr />
        <form asp-action="LoginTruongVietHoang">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div class="row">
                    <div class="col-md-11">
                        <input asp-for="Password" id="password" class="form-control" />
                    </div>
                    
                    <div class="col-md-1" style="border:none;">
                        <button type="button" id="show"><i class="bi bi-eye-slash-fill" style="max-width:50px;"></i></button>
                    </div>
                   
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-sm-5 align-middle">
                <input type="submit" value="Đăng Nhập" class="btn btn-outline-success " />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index" asp-controller="Home"><i class="bi bi-arrow-return-left" style="max-width:50px;"></i></a>


@section Scripts {
    <script>
        document.getElementById('show').onclick = function(){
            let password = document.getElementById('password');
            password.type = password.type == 'password' ? 'text' : 'password';

        }
    </script>
}
